.topnav{
overflow: hidden;
}
.topnav input[ type=text]{
  float: center;
  padding: auto;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 16px;
  align-content: center;
}
h1{
  text-align: center;
  font-style: oblique;
  color: black;
  /* background-color: gray; */
  font-size: 60px;

}
p{
  text-align: center;
  color:lightblack;
  font-size: 40px;

}
body{
  height:100%;
  background-color:gray;
  /*background-image: url(https://assets.fxnetworks.com/cms/prod/2020/03/05/web_detailhero_series_dsktp_devs_1280x600.jpg);*/
}
/*.bg{
  height:100%;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
}*/
.grid {
display:flex;
justify-content: center;
flex-wrap: wrap;

}
.column{
height: 350px;
  width: 30%;
  margin: 0px 10px 10px 10px;
  
}
.column img {
margin-top: 8px;
vertical-align: middle;
}
img{
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-right: 10px;
  margin-left: 10px;
}
p{
  font-style: italic;
}
/* img:hover{
  transition:0.5s;
  transform:scale(1.5); 
} */

.link{
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 150px;
  font-family: inherit;
  font-weight: inherit;
  font-style: italic;
  padding-top: 26px ;
  color: whitesmoke;
  font-size: 40px;
}

.footer{
  align-items: center;
}
form{
  align-items: center;
}
.row1{
  text-align: center;
}
