.topnav{
overflow: hidden;
/*background-color:lemonchiffon;*/
}
.topnav input[ type=text]{
  float: center;
  padding: auto;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 16px;
  align-content: center;
}
h1{
  text-align: center;
  font-style: oblique;
  color: darkcyan;
  background-color: gray;
  font-size: 50px;
  text-decoration-color: indianred;
}
p{
  text-align: center;
  background-color:gray;
}
body{
  height:100%;
  background-color:gray;
  /*background-image: url(https://assets.fxnetworks.com/cms/prod/2020/03/05/web_detailhero_series_dsktp_devs_1280x600.jpg);*/
}
/*.bg{
  height:100%;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
}*/
.grid {
display:flex;
flex-wrap: wrap;
padding: 0 4px;
margin-left: 150px;
}
.column img{
  margin-top: 8px;
  vertical-align: middle;
}
.column img {
margin-top: 8px;
vertical-align: middle;
}
img{
  width: 300px;
  margin-right: 10px;
}
p{
  font-style: italic;
}
img:hover{
  transition:2.0s;
  transform:scale(1.5);
}